@model DrWardrobe.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details - Tops</h2>
<!--adding an image to the header using background class "backgroundImgCategoryIndex"
     image and styling goes in content\Site.css
     -->
<div class="backgroundImgCategoryIndex">

    <p>TOP</p>
    <hr />

    <div class="row">

        <div class="thumbnail">

            <div class="caption">
                <div class="col-md-6">
                    <h3>ITEM: @Html.DisplayFor(model => model.TopName)</h3>
                    <h3>TYPE: @Html.DisplayFor(model => model.TopType)</h3>
                    <h3>COLOR:@Html.DisplayFor(model => model.Color.ColorFamily)</h3>
                    <h3>OCCASION:@Html.DisplayFor(model => model.Occasion.OccasionType)</h3>
                    <h3>SEASON:@Html.DisplayFor(model => model.Season.SeasonName)</h3>
                </div>
                <div class="col-md-6">
                    <h3><img src=@Url.Content(Model.TopPhotoURL) alt="photo not available" class="detailsIMG"></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New Accessory", "Create") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

