@model IEnumerable<DrWardrobe.Models.Accessory>

@{
    ViewBag.Title = "ACCESSORIES";
}

<h2>Accessories</h2>

<p>
    @Html.ActionLink("Create New Accessory", "Create")
</p>

<ul id="hexGrid">
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

                <img src="~/Images/3d_glasses.jpg" />
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

                <img src="~/Images/sonic11.jpg" />
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

                <img src="~/Images/fez.jpg" />
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

                <img src="~/Images/11sonic.jpg" />
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

                <img src="~/Images/hat_brown.jpg" />
                        </a>
        </div>
    </li>
</ul>

<table class="table indexPageLight">
    <tr>
        <th>Accessory        </th>
        <th>Type        </th>
        <th>Color        </th>
        <th>Occasion        </th>
        <th>Season        </th>
        <th>Photo URL        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccessoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.ColorFamily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occasion.OccasionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.SeasonName)
            </td>

            <td>
                <img src=@Url.Content(item.AccessoryPhotoURL) alt="photo not available" class="tableIMG">
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID })
            </td>
        </tr>
    }

</table>

