@model DrWardrobe.Models.OuterWear

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OuterWear</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color.ColorFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.OccasionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccasionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OuterWearName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OuterWearName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OuterWearPhotoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OuterWearPhotoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OuterWearType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OuterWearType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OuterWearID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
