@model IEnumerable<DrWardrobe.Models.OuterWear>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New Outerwear", "Create")
</p>

@*<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="site.css">

</head>*@
<body>
    <ul id="hexGrid">
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <img src="~/Images/12_coat.jpg" alt="black coat" />
                    <p></p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <img src="~/Images/coat10.jpg" alt="brown coat" />
                    
                    <p></p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <img src="~/Images/11_coat_purple.jpg" alt="purple coat" />
                    
                   
                    <p></p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <img src="~/Images/11_coat_green.jpg" alt="green coat" />

                   
                   
                    <p></p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                   
                    <img src="~/Images/coat9.jpg" alt="black leather coat" />
                  
                    <p></p>
                </a>
            </div>
        </li>

        </ul>
        <table class="table">
            <tr>
                <th>Outerwear        </th>
                <th>Type        </th>
                <th>Color        </th>
                <th>Occasion        </th>
                <th>Season        </th>
                <th>Photo URL        </th>
                <th>Options</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OuterWearName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OuterWearType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.ColorFamily)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Occasion.OccasionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Season.SeasonName)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.OuterWearPhotoURL)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OuterWearID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OuterWearID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OuterWearID })
                    </td>
                </tr>
            }

        </table>
    </body>
@*</html>*@
