@model IEnumerable<DrWardrobe.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Bottoms</h2>

<p>
    @Html.ActionLink("Create New Bottoms", "Create")
</p>
<table class="table">
    <tr>
        <th>Bottomw      </th>
        <th>Type        </th>
        <th>Color        </th>
        <th>Occasion        </th>
        <th>Season        </th>
        <th>Photo URL        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BottomName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BottomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.ColorFamily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.OccasionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BottomPhotoURL)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BottomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BottomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
        </td>
    </tr>
}

</table>
