@model IEnumerable<DrWardrobe.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Bottoms</h2>

<p>
    @Html.ActionLink("Create New Bottoms", "Create")
</p>
<ul id="hexGrid">
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                               
                
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="~/Images/10_bottom_brown.jpg" />     
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="~/Images/David-Tennant-Kilt-001.jpg" alt="scot in a kilt" />
                
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="~/Images/10_bottom_blue.jpg" alt="blue trousers" />
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                               
            </a>
        </div>
    </li>
    </ul>

    <table class="table indexPageLight">
        <tr>
            <th>Bottoms      </th>
            <th>Type        </th>
            <th>Color        </th>
            <th>Occasion        </th>
            <th>Season        </th>
            <th>Photo URL        </th>
            <th>Options</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BottomName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BottomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.ColorFamily)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occasion.OccasionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season.SeasonName)
                </td>

                <td>
                    <img src=@Url.Content(item.BottomPhotoURL) alt="photo not available" class="tableIMG">
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BottomID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })
                </td>
            </tr>
        }

    </table>
