@model DrWardrobe.Models.NeckWear

@{
    ViewBag.Title = "Details";
}

<h2>Details - Neckwear</h2>

<!--adding an image to the header using background class "backgroundImgCategoryIndex"
   image and styling goes in content\Site.css
   -->
<div class="backgroundImgCategoryIndex">

    <p>Neckwear</p>
    <hr />

    <div class="row">

        <div class="thumbnail">

            <div class="caption">
                <div class="col-md-6">
                    <h3>ITEM: @Html.DisplayFor(model => model.NeckWearName)</h3>
                    <h3>TYPE: @Html.DisplayFor(model => model.NeckWearType)</h3>
                    <h3>COLOR:@Html.DisplayFor(model => model.Color.ColorFamily)</h3>
                    <h3>OCCASION:@Html.DisplayFor(model => model.Occasion.OccasionType)</h3>
                    <h3>SEASON:@Html.DisplayFor(model => model.Season.SeasonName)</h3>
                </div>

                <div class="col-md-6">
                    <h3><img src=@Url.Content(Model.NeckWearPhotoURL) alt="photo not available" class="detailsIMG"></h3>
                </div>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Create New Accessory", "Create") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.NeckWearID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
