@model IEnumerable<DrWardrobe.Models.NeckWear>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Neckwear", "Create")
</p>

<ul id="hexGrid">
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">


            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

                <img src="~/Images/bowtie.jpg" alt="bowtie"/>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
               <p>"Bowties are cool!"</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

                <img src="~/Images/scarf.jpg" alt="scarf"/>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">

            </a>
        </div>
    </li>
</ul>


<table class="table">
    <tr>
        <th>Neckwear        </th>
        <th>Type        </th>
        <th>Color        </th>
        <th>Occasion        </th>
        <th>Season        </th>
        <th>Photo URL        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NeckWearName)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.NeckWearType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.ColorFamily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.OccasionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.NeckWearPhotoURL)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NeckWearID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NeckWearID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NeckWearID })
        </td>
    </tr>
}

</table>
